<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdan.fp.uaspcs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.abdan.fp.uaspcs.ui.search.team.SearchTeamActivity" />
        <activity android:name="com.abdan.fp.uaspcs.ui.teamdetail.TeamDetailActivity" />
        <activity android:name="com.abdan.fp.uaspcs.ui.leaguedetail.DetailLeagueActivity" />
        <activity android:name="com.abdan.fp.uaspcs.ui.favorite.FavoriteActivity" />
        <activity android:name="com.abdan.fp.uaspcs.ui.search.match.SearchMatchActivity" />
        <activity android:name="com.abdan.fp.uaspcs.ui.matchdetail.DetailMatchActivity" />
        <activity android:name="com.abdan.fp.uaspcs.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>